sudo: false
language: node_js
node_js:
  - "8"

before_install:
  - npm install -g npm@latest codecov

install:
  - npm install

script:
  - npm run test

after_script:
  - cd ../server && npm run coverage
  - codecov
