<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  <link async href="{{ "/scripts/main.min.js" | relative_url }}">
<% if (includeSW) { -%>
  <script>
  if ('serviceWorker' in navigator) {
    navigator.serviceWorker.register("{{ "/sw.js" | relative_url }}").then(function() {
      console.log("Service Worker Registered");
    });
  }
  </script>
<% } -%>
  </body>

</html>
