<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  <script async src="/scripts/main.min.js"></script>
<% if (includeSW) { -%>
  <script>
  if ('serviceWorker' in navigator) {
    navigator.serviceWorker.register('/sw.js').then(function() {
      console.log("Service Worker Registered");
    });
  }
  </script>
<% } -%>
  </body>

</html>
